@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #6f9b3b; 
  --color-secondary: #28430c;
  --color-mint: #7b8a6b;
  --color-yellow: #eac828;
  --color-purple: #6b0052;
  --color-purple-dark:#290C42;
  --font-sans: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}